Package: com.youtube.ios6
Name: YouTube
Description: Native YouTube client for iOS 6
Author: anazerka
Maintainer: anazerka
Section: Applications
Depends: firmware (>= 6.0)
Architecture: iphoneos-arm
Version: 1.0.1-1+debug
Installed-Size: 676
